<div ng-controller="MoviesCtrl">
<nav>
  <ul class="pager">
    <li class="previous"><a href="movies" ng-click="movie = changemovie(movie, -1)"><span aria-hidden="true" class="glyphicon glyphicon-chevron-left"></span> Prev</a></li>
    <li class="movielist"><a href="movieList"><span aria-hidden="true" class="glyphicon glyphicon-th-list"></span> List</a></li>
    <li class="random"><a href="#movies" ng-click="movie = changemovie(movie, 0)"><span aria-hidden="true" class="glyphicon glyphicon-random"></span> Random</a></li>
    <li class="next"><a href="movies" ng-click="movie = changemovie(movie, 1)">Next <span aria-hidden="true" class="glyphicon glyphicon-chevron-right"></span></a></li>
  </ul>
</nav>

<div class="page-header">
  <h1>{{movie.Movie_Title}} <small>({{movie.Release_Date}})</small> <span class="label label-warning">{{movie.Rating}}</span></h1>
</div>

<div class="row featurette">
  <div class="col-md-3">
    <a href="{{movie.Img_Src}}"><img class="featurette-image img-responsive" src="{{movie.Img_Src}}" alt="{{movie.Movie_Title}}"/></a>
  </div>
  <div class="col-md-7">
    
    <p class="lead" style="text-indent: 2em;">{{movie.Descryption}}</p>
    <h4><span class="text-muted">Director: </span> {{movie.Director}}></h4>
    <h4><span class="text-muted">Duration: </span> {{movie.Duration}} min</h4>
    <h4><span class="text-muted">Country: </span> {{movie.Country}}</h4>
    <h4><span class="text-muted">Language: </span> {{movie.Language}}</h4>
    <h4><span class="text-muted">Company: </span> {{movie.Company}}</h4>
  </div>
</div>

<br></br>
<h2>Cast</h2>
<div class="list-group">
<a href="#" class="list-group-item thumbnails" id="people_{{cast.People_Id}}" ng-repeat="cast in act_movie | filter: {Movie_Id : movie.Movie_Id}:true">
  <div class="row container">
    <div class="col-md-1"><img class="img-responsive img-rounded" style="height: 65px; line-height: 65px;" src=""/></div>
    <div class="col-md-11"><h4 class="list-group-item-heading" style="line-height: 65px;" ng-repeat="person in (people | filter: {People_Id : cast.People_Id}:true)">
    {{person.People_Name}}<small><span class="label label-default">as</span></small>  {{cast.Character}}
    </h4></div>
  </div>
</a>
</div>
</div>