<div ng-controller="PeopleCtrl">
<nav>
  <ul class="pager">
    <li class="previous"><a href="people/{{person.People_Id*1 === 0 ? total-1 : person.People_Id*1-1}}"><span aria-hidden="true" class="glyphicon glyphicon-chevron-left"></span> Prev</a></li>
    <li class="peoplelist"><a href="people"><span aria-hidden="true" class="glyphicon glyphicon-th-list"></span> List</a></li>
    <li class="random"><a ng-click="randomPerson(total)" href=""><span aria-hidden="true" class="glyphicon glyphicon-random"></span> Random</a></li>
    <li class="next"><a href="people/{{person.People_Id*1 === total-1 ? 0 : person.People_Id*1+1}}">Next <span aria-hidden="true" class="glyphicon glyphicon-chevron-right"></span></a></li>
  </ul>
</nav>
<div class="page-header">
  <h1>{{person.People_Name}} 
  <a href="" data-toggle="modal" data-target="#updatePerson"><span aria-hidden="true" class="glyphicon glyphicon-pencil"></span></a>
  <a href="" class="btn" ng-click="removePerson(person)"><span aria-hidden="true" class="glyphicon glyphicon-remove"></span></a></h1>
</div>

<!-- Modal Edit Movie-->
<div class="modal fade" id="updatePerson" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        <h4 class="modal-title" id="myModalLabel">Edit The person.</h4>
      </div>
      <div class="modal-body">
        <form class="form-horizontal" ng-submit="updatePerson(person)">
          <div class="form-group">
            <label for="inputMovieId" class="col-sm-3 control-label">Person ID</label>
            <div class="col-sm-9">
              <input class="form-control" ng-model="form.People_Id" id="inputMovieId" placeholder="Person ID" required>
            </div>
          </div>
          <div class="form-group">
            <label for="inputMovieTitle" class="col-sm-3 control-label">Person Name</label>
            <div class="col-sm-9">
              <input class="form-control" ng-model="form.People_Name" id="inputMovieTitle" placeholder="Person Name" required>
            </div>
          </div>
          <div class="form-group">
            <label for="inputReleaseDate" class="col-sm-3 control-label">Birth_Date</label>
            <div class="col-sm-9">
              <input class="form-control" ng-model="form.Birth_Date" id="inputReleaseDate" placeholder="yyyy-mm-dd">
            </div>
          </div>
          <div class="form-group">
            <label for="inputDuration" class="col-sm-3 control-label">Country</label>
            <div class="col-sm-9">
              <input class="form-control" ng-model="form.Country" id="inputDuration" placeholder="Country">
            </div>
          </div>
          <div class="form-group">
            <label for="inputImgSrc" class="col-sm-3 control-label">Img_Src</label>
            <div class="col-sm-9">
              <input class="form-control" ng-model="form.Img_Src" id="inputImgSrc" placeholder="http://">
            </div>
          </div>
          <div class="form-group">
            <label for="inputDescription" class="col-sm-3 control-label">Description</label>
            <div class="col-sm-9">
              <textarea class="form-control" ng-model="form.Description" id="inputDescription" placeholder="Description"></textarea>
            </div>
          </div>
          <div class="modal-footer">
            <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
            <button type="submit" ng-click="Submit" class="btn btn-primary">Save </button>
          </div>
        </form>
      </div>
      
    </div>
  </div>
</div>

<div class="row featurette">
  <div class="col-md-3">
    <a href="{{person.Img_Src}}"><img class="featurette-image img-responsive" src="{{person.Img_Src.length ? person.Img_Src : 'img/alt.png'}}" alt="{{person.People_Name}}"/></a>
  </div>
  <div class="col-md-7">
    
    <h4><span class="text-muted">Birth Date: </span> {{person.Birth_Date ? person.Birth_Date : "Unknown"}}</h4>
    <h4><span class="text-muted">Country: </span> {{person.Country ? person.Country : "Unknown"}}</h4>
    <p class="lead text-justify" style="text-indent: 2em;">{{person.Description}}</p>
    
  </div>
</div>

<br></br>

<h2>Award
  <span>
    <button href="" class="btn btn-link" data-toggle="modal" data-target="#updateAward"><span aria-hidden="true" class="glyphicon glyphicon-pencil"></span></button>
  </span>
</h2>
<div class="list-group">
<a href="awards" class="list-group-item clearfix" ng-repeat="award in awards | object2Array | orderBy: ['-Year', '-Award_Id', 'Type']" ng-context-menu="menuOptions" ng-mouseenter="showDel=true" ng-mouseleave="showDel=false">
  <div class="row container">
    <div class="col-md-11"><h4 class="list-group-item-heading" style="line-height: 65px;" ng-repeat="awardName in (awardsName | filter: {Award_Id: award.Award_Id}:true)">{{awardName.Award_Name}}
      <small>{{award.Year}}</small>    {{award.Type}}
    </h4></div>
    <button href="" class="btn btn-link" ng-click="deleteAward(award)" ng-show="showDel"><span aria-hidden="true" class="glyphicon glyphicon-remove"></span></button>
  </div>
</a> 
<h4 class="list-group-item" ng-show="!awards.length">None</h4>
</div>
