<div ng-controller="PeopleListCtrl">
<form class="row container">
  <nav>
    <ul class="pager">
      <li class="previous"><a href="/"><span aria-hidden="true" class="glyphicon glyphicon-home"></span> Home</a></li>
      <li class="next"><a href="" data-toggle="modal" data-target="#addPerson"><span aria-hidden="true" class="glyphicon glyphicon-plus" ></span> Add</a></li>
    </ul>
  </nav>
</form>

<!-- Modal -->
<div class="modal fade" id="addPerson" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        <h4 class="modal-title" id="myModalLabel">Add Person to List.</h4>
      </div>
      <div class="modal-body">
        <form class="form-horizontal" ng-submit="submitForm()">
          <div class="form-group">
            <label for="inputMovieId" class="col-sm-3 control-label">Person ID</label>
            <div class="col-sm-9">
              <input class="form-control" ng-model="form.People_Id" id="inputMovieId" placeholder="Person ID" required>
            </div>
          </div>
          <div class="form-group">
            <label for="inputMovieTitle" class="col-sm-3 control-label">Person Name</label>
            <div class="col-sm-9">
              <input class="form-control" ng-model="form.People_Name" id="inputMovieTitle" placeholder="Person Name" required>
            </div>
          </div>
          <div class="form-group">
            <label for="inputReleaseDate" class="col-sm-3 control-label">Birth_Date</label>
            <div class="col-sm-9">
              <input class="form-control" ng-model="form.Birth_Date" id="inputReleaseDate" placeholder="yyyy-mm-dd">
            </div>
          </div>
          <div class="form-group">
            <label for="inputDuration" class="col-sm-3 control-label">Country</label>
            <div class="col-sm-9">
              <input class="form-control" ng-model="form.Country" id="inputDuration" placeholder="Country">
            </div>
          </div>
          <div class="form-group">
            <label for="inputImgSrc" class="col-sm-3 control-label">Img_Src</label>
            <div class="col-sm-9">
              <input class="form-control" ng-model="form.Img_Src" id="inputImgSrc" placeholder="http://">
            </div>
          </div>
          <div class="form-group">
            <label for="inputDescription" class="col-sm-3 control-label">Description</label>
            <div class="col-sm-9">
              <textarea class="form-control" ng-model="form.Description" id="inputDescription" placeholder="Description"></textarea>
            </div>
          </div>
          <div class="modal-footer">
            <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
            <button type="submit" ng-click="Submit" class="btn btn-primary">Save </button>
          </div>
        </form>
      </div>
      
    </div>
  </div>
</div>

<div class="input-group" id="personSearch">
  <span class="input-group-btn">
    <button class="btn btn-default" type="button"><span class="glyphicon glyphicon-search" aria-hidden="true"></span></button>
  </span>
  <input type="search" class="form-control" placeholder="Search for people." ng-model="person_search"/>
</div>
<br></br>

<div class="list-group">
  <a href="people/{{person.People_Id}}" class="list-group-item thumbnails" ng-repeat="person in people | filter: person_search | startFrom:currentPage*pageSize | limitTo:pageSize | object2Array | orderBy: 'People_Name'" id="person_{{person.People_Id}}">
    <div class="row container">
      <div class="col-md-1">
        <img class="img-responsive img-rounded" style="height: 65px; line-height: 65px;" src="{{person.Img_Src}}"/>
      </div>
      <div class="col-md-11">
        <h4 class="list-group-item-heading" style="line-height: 65px;">
          <span class="label label-danger">{{$index + 1 + currentPage*pageSize}}</span> {{person.People_Name}}
        </h4>
      </div>
    </div>
  </a>
</div>

<nav>
  <ul class="pagination">
    <li><a href="" ng-class="currentPage <= 0 ? 'btn disabled' : ''" aria-label="Previous" id="prevPage" ng-click="changePage(currentPage-1)"><span aria-hidden="true">&laquo;</span></a></li>
    <li ng-class="pageClass({{$index}})" ng-repeat="page in getNumber(numberOfPages()) track by $index"><a href="" ng-click="changePage($index)">{{$index+1}}</a></li>
    <li><a href="" ng-class="currentPage >= numberOfPages()-1 ? 'btn disabled' : ''" aria-label="Next" id="nextPage" ng-click="changePage(currentPage+1)"><span aria-hidden="true">&raquo;</span></a></li>
  </ul>
</nav>
</div>