<div ng-controller="TVShowCtrl">
<nav>
  <ul class="pager">
    <li class="previous"><a href="tvshow/{{tvshow.Show_Id*1 === 0 ? total-1 : tvshow.Show_Id*1-1}}"><span aria-hidden="true" class="glyphicon glyphicon-chevron-left"></span> Prev</a></li>
    <li class="tvshowlist"><a href="tvshow"><span aria-hidden="true" class="glyphicon glyphicon-th-list"></span> List</a></li>
    <li class="next"><a href="tvshow/{{tvshow.Show_Id*1 === total-1 ? 0 : tvshow.Show_Id*1+1}}">Next <span aria-hidden="true" class="glyphicon glyphicon-chevron-right"></span></a></li>
  </ul>
</nav>
<div class="page-header">
  <h1>{{tvshow.Title}} <small>({{tvshow.Start_Year}}-{{tvshow.End_Year}})</small> <span class="label label-warning">{{tvshow.Rating}}</span>
  <a href="" data-toggle="modal" data-target="#updateTVshow"><span aria-hidden="true" class="glyphicon glyphicon-pencil"></span></a>
  <a href="" class="btn" ng-click="removeTVshow(tvshow)"><span aria-hidden="true" class="glyphicon glyphicon-remove"></span></a></h1>
</div>

<!-- Modal Edit TVshow-->
<div class="modal fade" id="updateTVshow" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        <h4 class="modal-title" id="myModalLabel">Edit The TV show.</h4>
      </div>
      <div class="modal-body">
        <form class="form-horizontal" ng-submit="updateTVshow()">
          <div class="form-group">
            <label for="inputTVshowTitle" class="col-sm-3 control-label">TVshow Title</label>
            <div class="col-sm-9">
              <input class="form-control" ng-model="form.Title" id="inputTVshowTitle" placeholder="TV Show Title" required>
            </div>
          </div>
          <div class="form-group">
            <label for="inputReleaseDate" class="col-sm-3 control-label">Total Seasons</label>
            <div class="col-sm-9">
              <input class="form-control" ng-model="form.Season" id="inputReleaseDate" placeholder="Season">
            </div>
          </div>
          <div class="form-group">
            <label for="inputDuration" class="col-sm-3 control-label">Length of each episode</label>
            <div class="col-sm-9">
              <input class="form-control" ng-model="form.Length" id="inputDuration" placeholder="min">
            </div>
          </div>
          <div class="form-group">
            <label for="inputRating" class="col-sm-3 control-label">Image Source</label>
            <div class="col-sm-9">
              <input class="form-control" ng-model="form.Img_Src" id="inputRating" placeholder="http://...">
            </div>
          </div>
          <div class="form-group">
            <label for="inputDirector" class="col-sm-3 control-label">Country</label>
            <div class="col-sm-9">
              <input class="form-control" ng-model="form.Country" id="inputDirector" placeholder="Country">
            </div>
          </div>
          <div class="form-group">
            <label for="inputImgSrc" class="col-sm-3 control-label">Language</label>
            <div class="col-sm-9">
              <input class="form-control" ng-model="form.Language" id="inputImgSrc" placeholder="Language">
            </div>
          </div>
          <div class="form-group">
            <label for="inputDescription" class="col-sm-3 control-label">Start Year</label>
            <div class="col-sm-9">
              <input class="form-control" ng-model="form.Start_Year" id="inputDescription" placeholder="yyyy">
            </div>
          </div>
          <div class="form-group">
            <label for="inputCountry" class="col-sm-3 control-label">End Year</label>
            <div class="col-sm-9">
              <input class="form-control" ng-model="form.End_Year" id="inputCountry" placeholder="yyyy">
            </div>
          </div>
          <div class="form-group">
            <label for="inputLanguage" class="col-sm-3 control-label">Rating</label>
            <div class="col-sm-9">
              <input class="form-control" ng-model="form.Rating" id="inputLanguage" placeholder="0.0-10.0">
            </div>
          </div>
          <div class="form-group">
            <label for="inputLanguage" class="col-sm-3 control-label">Description</label>
            <div class="col-sm-9">
              <textarea class="form-control" ng-model="form.Description" id="inputLanguage" rows="3" placeholder="Description."></textarea>
            </div>
          </div>
          <div class="modal-footer">
            <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
            <button type="submit" ng-click="Submit" class="btn btn-primary">Save </button>
          </div>
        </form>
      </div>
      
    </div>
  </div>
</div>

<div class="row featurette">
  <div class="col-md-3">
    <a href="{{tvshow.Img_Src}}"><img class="featurette-image img-responsive" src="{{tvshow.Img_Src.length ? tvshow.Img_Src : 'img/alt.png'}}" alt="{{tvshow.TVshow_Title}}"/></a>
  </div>
  <div class="col-md-7">
    
    <p class="lead text-justify" style="text-indent: 2em;">{{tvshow.Description}}</p>
    <h4><span class="text-muted">Director: </span> <a href="people/{{director.People_Id}}" ng-repeat="director in directors"><span ng-repeat="d in people | filter: {People_Id: director.People_Id}">{{d.People_Name}}</span> </a> </h4>
    <h4><span class="text-muted">Writer: </span> <a href="people/{{writer.People_Id}}" ng-repeat="writer in writers"><span ng-repeat="w in people | filter: {People_Id: writer.People_Id}">{{w.People_Name}}</span> </a> </h4>
    <h4><span class="text-muted">Total Season: </span> {{tvshow.Season}}</h4>
    <h4><span class="text-muted">Length of each Episode: </span> {{tvshow.Length}} min</h4>
    <h4><span class="text-muted">Country: </span> {{tvshow.Country}}</h4>
    <h4><span class="text-muted">Language: </span> {{tvshow.Language}}</h4>
    <h4><span class="text-muted">Genre: </span> <span ng-repeat="genre in genres"><span class="label label-primary">{{genre.Genre}}</span> </span><a href="" data-toggle="modal" data-target="#updateGenre"><span aria-hidden="true" class="glyphicon glyphicon-pencil"></span></a></h4>
  </div>
</div>

<hr class="featurette-divider">
<br></br>

<!-- Episodes START -->
<div class="panel-group" role="tablist" aria-multiselectable="true">
  <div class="panel panel-primary">
    <div class="panel-heading" ng-click="isCollapsed = !isCollapsed">
      <a href="" style="text-decoration: none">
        <h4 style="color: white">Episodes</h4>
      </a>
    </div>
    <div class="panel-body" ng-show="isCollapsed">
    <button class="btn btn-default" href="" data-toggle="modal" data-target="#addDetail"><span aria-hidden="true" class="glyphicon glyphicon-plus" ></span> Add</button>
      <ul class="list-group">
        <a href="tvshow/{{m.Show_Id}}/{{m.Season}}/{{m.Episode}}" ng-repeat="m in tvshowdetail | object2Array | orderBy: ['Season', 'Episode']" style="text-decoration: none">
          <li class="list-group-item">
            <h5>Season {{m.Season}} 
              <span class="label label-success">{{m.Episode}}</span> {{m.Title}}</h5>
          </li>
        </a> 
      </ul>
    </div>
  </div>
</div>

<!-- Episodes END -->
<br></br>
<h2>Cast
  <span>
    <button href="" class="btn btn-link" data-toggle="modal" data-target="#updateAct"><span aria-hidden="true" class="glyphicon glyphicon-pencil"></span></button>
  </span>
</h2>
<div class="list-group">
<a href="people/{{cast.People_Id}}" class="list-group-item clearfix" ng-repeat="cast in acts | object2Array | orderBy: 'People_Id'" ng-context-menu="menuOptions">
  <div class="row container">
    <div class="col-md-1"><img class="img-responsive img-rounded" style="height: 65px; line-height: 65px;" ng-repeat="person in (people | filter: {People_Id : cast.People_Id}:true)" src="{{person.Img_Src}}"/></div>
    <div class="col-md-10"><h4 class="list-group-item-heading" style="line-height: 65px;" ng-repeat="person in (people | filter: {People_Id : cast.People_Id}:true)">
    {{person.People_Name}}  <small><span class="label label-default">as</span></small>    {{cast.Character}}
    </h4></div>
    <button href="" class="btn btn-link" ng-click="deleteAct(cast)"><span aria-hidden="true" class="glyphicon glyphicon-remove"></span></button>
  </div>
</a>
<h4 class="list-group-item clearfix" ng-show="!acts.length">None</h4>  
</div>






<br></br>
<h2>Award
  <span>
    <button href="" class="btn btn-link" data-toggle="modal" data-target="#updateAward"><span aria-hidden="true" class="glyphicon glyphicon-pencil"></span></button>
  </span>
</h2>
<div class="list-group">
<a href="awards" class="list-group-item clearfix" ng-repeat="award in awards | object2Array | orderBy: ['-Year', '-Award_Id', 'Type']" ng-context-menu="menuOptions">
  <div class="row container">
    <div class="col-md-11"><h4 class="list-group-item-heading" style="line-height: 65px;" ng-repeat="awardName in (awardsName | filter: {Award_Id: award.Award_Id}:true)">{{awardName.Award_Name}}
      <small>{{award.Year}}</small>    {{award.Type}}
    </h4></div>
    <button href="" class="btn btn-link" ng-click="deleteAward(award)"><span aria-hidden="true" class="glyphicon glyphicon-remove"></span></button>
  </div>
</a>
<h4 class="list-group-item clearfix" ng-show="!awards.length">None</h4> 
</div>




</div>

<!-- Modal Edit Act-->
<div class="modal fade" id="updateAct" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        <h4 class="modal-title" id="myModalLabel">Add/Edit The Actor/Actress.</h4>
      </div>
      <div class="modal-body">
        <form class="form-horizontal" ng-submit="updateAct()">
          <div class="form-group">
            <label for="inputTVshowTitle" class="col-sm-3 control-label">People ID</label>
            <div class="col-sm-9">
              <input class="form-control" ng-model="form2.People_Id" placeholder="People ID" required>
            </div>
          </div>
          <div class="form-group">
            <label for="inputReleaseDate" class="col-sm-3 control-label">Character Name</label>
            <div class="col-sm-9">
              <input class="form-control" ng-model="form2.Character" placeholder="Character">
            </div>
          </div>
          <div class="modal-footer">
            <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
            <button type="submit" ng-click="Submit" class="btn btn-primary">Save </button>
          </div>
        </form>
      </div>
      
    </div>
  </div>
</div>

<!-- Modal Edit Award-->
<div class="modal fade" id="updateAward" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        <h4 class="modal-title">Add/Edit The Award.</h4>
      </div>
      <div class="modal-body">
        <form class="form-horizontal" ng-submit="updateAward()">
          <div class="form-group">
            <label for="inputTVshowTitle" class="col-sm-3 control-label">Award ID</label>
            <div class="col-sm-9">
              <input class="form-control" ng-model="form3.Award_Id" placeholder="Award ID" required>
            </div>
          </div>
          <div class="form-group">
            <label for="inputReleaseDate" class="col-sm-3 control-label">Year</label>
            <div class="col-sm-9">
              <input class="form-control" ng-model="form3.Year" placeholder="yyyy" required>
            </div>
          </div>
          <div class="form-group">
            <label for="inputReleaseDate" class="col-sm-3 control-label">Type</label>
            <div class="col-sm-9">
              <input class="form-control" ng-model="form3.Type" placeholder="Won or Nominated" required>
            </div>
          </div>
          <div class="modal-footer">
            <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
            <button type="submit" ng-click="Submit" class="btn btn-primary">Save </button>
          </div>
        </form>
      </div>
      
    </div>
  </div>
</div>

<!-- Modal Edit TVShowDetail-->
<div class="modal fade" id="addDetail" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        <h4 class="modal-title" id="myModalLabel">Add The Episode.</h4>
      </div>
      <div class="modal-body">
        <form class="form-horizontal" ng-submit="addDetail()">
          <div class="form-group">
            <label for="inputMovieTitle" class="col-sm-3 control-label">Season</label>
            <div class="col-sm-9">
              <input class="form-control" ng-model="form2.Season" id="inputTitle" placeholder="Season" required>
            </div>
          </div>
          <div class="form-group">
            <label for="inputMovieTitle" class="col-sm-3 control-label">Episode</label>
            <div class="col-sm-9">
              <input class="form-control" ng-model="form2.Episode" id="inputTitle" placeholder="Episode" required>
            </div>
          </div>
          <div class="form-group">
            <label for="inputMovieTitle" class="col-sm-3 control-label">Episode Title</label>
            <div class="col-sm-9">
              <input class="form-control" ng-model="form2.Title" id="inputTitle" placeholder="Episode Title" required>
            </div>
          </div>
          <div class="form-group">
            <label for="inputReleaseDate" class="col-sm-3 control-label">Release Date</label>
            <div class="col-sm-9">
              <input class="form-control" ng-model="form2.Release_Date" id="inputReleaseDate" placeholder="yyyy-mm-dd">
            </div>
          </div>
          <div class="form-group">
            <label for="inputRating" class="col-sm-3 control-label">Rating</label>
            <div class="col-sm-9">
              <input class="form-control" ng-model="form2.Rating" id="inputRating" placeholder="0.0-10.0">
            </div>
          </div>
          <div class="form-group">
            <label for="inputImgSrc" class="col-sm-3 control-label">Image Source</label>
            <div class="col-sm-9">
              <input class="form-control" ng-model="form2.Img_Src" id="inputImgSrc" placeholder="http://...">
            </div>
          </div>
          <div class="form-group">
            <label for="inputDescription" class="col-sm-3 control-label">Description</label>
            <div class="col-sm-9">
              <textarea class="form-control" ng-model="form2.Description" id="inputDescription" rows="3" placeholder="Description"></textarea>
            </div>
          </div>
          <div class="modal-footer">
            <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
            <button type="submit" ng-click="Submit" class="btn btn-primary">Save </button>
          </div>
        </form>
      </div>
      
    </div>
  </div>
</div>

<!-- Modal Edit Genre-->
<div class="modal fade" id="updateGenre" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        <h4 class="modal-title">Add/Edit/Delete The Genre.</h4>
      </div>
      <div class="modal-body">
        <form class="form-horizontal" ng-submit="updateGenre()">
          <div class="form-group row">
              <div class="col-sm-3"></div>
              <div class="radio col-sm-2">
                <label>
                  <input type="radio" name="optionsRadios" id="optionsRadios1" value="add" ng-model="form4.method" checked>Add
                </label>
              </div>
              <div class="radio col-sm-2">
                <label>
                  <input type="radio" name="optionsRadios" id="optionsRadios2" value="edit" ng-model="form4.method">Edit
                </label>
              </div>
              <div class="radio col-sm-2">
                <label>
                  <input type="radio" name="optionsRadios" id="optionsRadios2" value="delete" ng-model="form4.method">Delete
                </label>
              </div>
          </div>
          <div class="form-group">
            <label for="inputMovieTitle" class="col-sm-3 control-label">Genre</label>
            <div class="col-sm-9">
              <input class="form-control" ng-model="form4.Genre" placeholder="Genre" required>
            </div>
          </div>
          <div class="form-group" ng-if="form4.method === 'edit'">
            <label for="inputMovieTitle" class="col-sm-3 control-label">Update to</label>
            <div class="col-sm-9">
              <input class="form-control" ng-model="form4.toGenre" placeholder="Genre">
            </div>
          </div>
          <div class="modal-footer">
            <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
            <button type="submit" ng-click="Submit" class="btn btn-primary">Save </button>
          </div>
        </form>
      </div>
      
    </div>
  </div>
</div>