<div ng-controller="TVShowDetailCtrl">

<nav>
  <ul class="pager">
    <li class="previous">
    <a href="tvshow/{{detail.Show_Id}}"><span aria-hidden="true" class="glyphicon glyphicon-chevron-left"></span> Back</a>
    </li>
  </ul>
</nav>


<div class="page-header">
  <h1>
  <span class="label label-info">{{detail.Season}}-{{detail.Episode}}</span> 
  {{detail.Title}} 
  <small>({{detail.Release_Date}})</small> <span class="label label-warning">{{detail.Rating}}</span>
  <a href="" data-toggle="modal" data-target="#updateMovie"><span aria-hidden="true" class="glyphicon glyphicon-pencil"></span></a>
  <a href="" class="btn" ng-click="removeDetail(detail)"><span aria-hidden="true" class="glyphicon glyphicon-remove"></span></a>
  </h1>
</div>

<!-- Modal Edit TVShowDetail-->
<div class="modal fade" id="updateDetail" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        <h4 class="modal-title" id="myModalLabel">Edit The Detail.</h4>
      </div>
      <div class="modal-body">
        <form class="form-horizontal" ng-submit="updateDetail(detail)">
          <div class="form-group">
            <label for="inputShowId" class="col-sm-3 control-label">Show ID</label>
            <div class="col-sm-9">
              <input class="form-control" ng-model="form.Show_Id" id="inputShowId" placeholder="Show ID" required>
            </div>
          </div>
          <div class="form-group">
            <label for="inputMovieTitle" class="col-sm-3 control-label">Title</label>
            <div class="col-sm-9">
              <input class="form-control" ng-model="form.Title" id="inputTitle" placeholder="Movie Title" required>
            </div>
          </div>
          <div class="form-group">
            <label for="inputReleaseDate" class="col-sm-3 control-label">Release Date</label>
            <div class="col-sm-9">
              <input class="form-control" ng-model="form.ReleaseDate" id="inputReleaseDate" placeholder="yyyy-mm-dd">
            </div>
          </div>
          <div class="form-group">
            <label for="inputDuration" class="col-sm-3 control-label">Duration</label>
            <div class="col-sm-9">
              <input class="form-control" ng-model="form.Duration" id="inputDuration" placeholder="min">
            </div>
          </div>
          <div class="form-group">
            <label for="inputRating" class="col-sm-3 control-label">Rating</label>
            <div class="col-sm-9">
              <input class="form-control" ng-model="form.Rating" id="inputRating" placeholder="0.0-10.0">
            </div>
          </div>
          <div class="form-group">
            <label for="inputDirector" class="col-sm-3 control-label">Director</label>
            <div class="col-sm-9">
              <input class="form-control" ng-model="form.Director" id="inputDirector" placeholder="Director">
            </div>
          </div>
          <div class="form-group">
            <label for="inputImgSrc" class="col-sm-3 control-label">Image</label>
            <div class="col-sm-9">
              <input class="form-control" ng-model="form.ImgSrc" id="inputImgSrc" placeholder="http://">
            </div>
          </div>
          <div class="form-group">
            <label for="inputDescription" class="col-sm-3 control-label">Description</label>
            <div class="col-sm-9">
              <textarea class="form-control" ng-model="form.Description" id="inputDescription" rows="3" placeholder="Description"></textarea>
            </div>
          </div>
          <div class="form-group">
            <label for="inputCountry" class="col-sm-3 control-label">Country</label>
            <div class="col-sm-9">
              <input class="form-control" ng-model="form.Country" id="inputCountry" placeholder="Country">
            </div>
          </div>
          <div class="form-group">
            <label for="inputLanguage" class="col-sm-3 control-label">Language</label>
            <div class="col-sm-9">
              <input class="form-control" ng-model="form.Language" id="inputLanguage" placeholder="Language">
            </div>
          </div>
          <div class="form-group">
            <label for="inputCompany" class="col-sm-3 control-label">Company</label>
            <div class="col-sm-9">
              <input class="form-control" ng-model="form.Company" id="inputCompany" placeholder="Company">
            </div>
          </div>
          <div class="modal-footer">
            <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
            <button type="submit" ng-click="Submit" class="btn btn-primary">Save </button>
          </div>
        </form>
      </div>
      
    </div>
  </div>
</div>



<div class="row featurette">
  <div class="col-md-3">
    <a href="{{detail.Img_Src}}"><img class="featurette-image img-responsive" src="{{detail.Img_Src}}" alt="{{detail.Title}}"/></a>
  </div>
  <div class="col-md-7">
    
    <!-- <p class="lead text-justify" style="text-indent: 2em;">{{detail.Description}}</p> -->
    <h4><span class="text-muted">Season: </span> {{detail.Season}}</h4>
    <h4><span class="text-muted">Episode: </span> {{detail.Episode}}</h4>
    <h4><span class="text-muted">Title: </span> {{detail.Title}}</h4>
    <h4><span class="text-muted">Rating: </span> {{detail.Rating}}</h4>
    <p style = "text-indent: 2em" class="lead text-justify">{{detail.Description}}</p>
  </div>
</div>



</div>