<div ng-controller="TVShowListCtrl">
<form class="row container">
  <nav>
    <ul class="pager">
      <li class="previous"><a href="/"><span aria-hidden="true" class="glyphicon glyphicon-home"></span> Home</a></li>
      <li class="next"><a href="" data-toggle="modal" data-target="#addTVshow"><span aria-hidden="true" class="glyphicon glyphicon-plus" ></span> Add</a></li>
    </ul>
  </nav>
</form>

<!-- Modal -->
<div class="modal fade" id="addTVshow" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        <h4 class="modal-title" id="myModalLabel">Add TVshow to List.</h4>
      </div>
      <div class="modal-body">
        <form class="form-horizontal" ng-submit="submitForm()">
          <div class="form-group">
            <label for="inputTVshowId" class="col-sm-3 control-label">TVshow ID</label>
            <div class="col-sm-9">
              <input class="form-control" ng-model="form.TVshowId" id="inputTVshowId" placeholder="TVshow ID" required>
            </div>
          </div>
          <div class="form-group">
            <label for="inputTVshowTitle" class="col-sm-3 control-label">TVshow Title</label>
            <div class="col-sm-9">
              <input class="form-control" ng-model="form.TVshowTitle" id="inputTVshowTitle" placeholder="TVshow Title" required>
            </div>
          </div>
          <div class="form-group">
            <label for="inputReleaseDate" class="col-sm-3 control-label">Release Date</label>
            <div class="col-sm-9">
              <input class="form-control" ng-model="form.ReleaseDate" id="inputReleaseDate" placeholder="yyyy-mm-dd">
            </div>
          </div>
          <div class="form-group">
            <label for="inputDuration" class="col-sm-3 control-label">Duration</label>
            <div class="col-sm-9">
              <input class="form-control" ng-model="form.Duration" id="inputDuration" placeholder="min">
            </div>
          </div>
          <div class="form-group">
            <label for="inputRating" class="col-sm-3 control-label">Rating</label>
            <div class="col-sm-9">
              <input class="form-control" ng-model="form.Rating" id="inputRating" placeholder="0.0-10.0">
            </div>
          </div>
          <div class="form-group">
            <label for="inputDirector" class="col-sm-3 control-label">Director</label>
            <div class="col-sm-9">
              <input class="form-control" ng-model="form.Director" id="inputDirector" placeholder="Director">
            </div>
          </div>
          <div class="form-group">
            <label for="inputImgSrc" class="col-sm-3 control-label">Img_Src</label>
            <div class="col-sm-9">
              <input class="form-control" ng-model="form.ImgSrc" id="inputImgSrc" placeholder="http://">
            </div>
          </div>
          <div class="form-group">
            <label for="inputDescription" class="col-sm-3 control-label">Description</label>
            <div class="col-sm-9">
              <textarea class="form-control" ng-model="form.Description" id="inputDescription" placeholder="Description"></textarea>
            </div>
          </div>
          <div class="form-group">
            <label for="inputCountry" class="col-sm-3 control-label">Country</label>
            <div class="col-sm-9">
              <input class="form-control" ng-model="form.Country" id="inputCountry" placeholder="Country">
            </div>
          </div>
          <div class="form-group">
            <label for="inputLanguage" class="col-sm-3 control-label">Language</label>
            <div class="col-sm-9">
              <input class="form-control" ng-model="form.Language" id="inputLanguage" placeholder="Language">
            </div>
          </div>
          <div class="form-group">
            <label for="inputCompany" class="col-sm-3 control-label">Company</label>
            <div class="col-sm-9">
              <input class="form-control" ng-model="form.Company" id="inputCompany" placeholder="Company">
            </div>
          </div>
          <div class="modal-footer">
            <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
            <button type="submit" ng-click="Submit" class="btn btn-primary">Save </button>
          </div>
        </form>
      </div>
      
    </div>
  </div>
</div>

<div class="input-group" id="tvshowSearch">
  <span class="input-group-btn">
    <button class="btn btn-default" type="button"><span class="glyphicon glyphicon-search" aria-hidden="true"></span></button>
  </span>
  <input type="search" class="form-control" placeholder="Search for tvshow." ng-model="tvshow_search"/>
</div>
<br></br>

<div class="list-group">
  <a href="tvshow/{{tv.Show_Id}}" class="list-group-item thumbnails" ng-repeat="tv in tvshow | filter: tvshow_search | startFrom:currentPage*pageSize | limitTo:pageSize" >
    <div class="row container">
      <div class="col-md-1">
        <img class="img-responsive img-rounded" style="height: 65px; line-height: 65px;" src="{{tv.Img_Src}}"/>
      </div>
      <div class="col-md-11">
        <h4 class="list-group-item-heading" style="line-height: 65px;">
          <span class="label label-danger">{{$index + 1}}</span> {{tv.Title}}
        </h4>
      </div>
    </div>
  </a>
</div>

<nav>
  <ul class="pagination">
    <li><a href="" ng-class="currentPage <= 0 ? 'btn disabled' : ''" aria-label="Previous" id="prevPage" ng-click="changePage(currentPage-1)"><span aria-hidden="true">&laquo;</span></a></li>
    <li ng-class="pageClass({{$index}})" ng-repeat="page in getNumber(numberOfPages()) track by $index"><a href="" ng-click="changePage($index)">{{$index+1}}</a></li>
    <li><a href="" ng-class="currentPage >= numberOfPages()-1 ? 'btn disabled' : ''" aria-label="Next" id="nextPage" ng-click="changePage(currentPage+1)"><span aria-hidden="true">&raquo;</span></a></li>
  </ul>
</nav>
</div>