<div ng-controller="mainCtrl">
<div class="jumbotron">
<h1>Welcome to IMDb2</h1>
<p>IMDb2, Internet Movies Database 2 ,also known as Information Management Database 2, is the website which stores the movies, TV shows, and people data. The source of the data is come from IMDb, which is the well-known online movies database. We use their open data to build this website for practicing and studying. The rights of all the data is belong to the original owner.</p>
<p class = "row">
    <div class="col-md-2">
    <a class="btn btn-lg btn-primary" href="movies" role="button">Movies List &raquo;</a>
    </div> 
    <div class="col-md-2">
    <a class="btn btn-lg btn-primary" href="tvshow" role="button" style="margin-left: 20px">TV Shows &raquo;</a>
    </div>
    <div class="col-md-2">
    <a class="btn btn-lg btn-primary" href="people" role="button" style="margin-left: 20px">People List &raquo;</a>
    </div>
    <div class="col-md-2">
    <a class="btn btn-lg btn-primary" href="awards" role="button" style="margin-left: 20px">Awards &raquo;</a>
    </div>
    <br></br>
</p>
</div>

<div class="container marketing">
<div class="page-header" id="group">
    <h1>Group</h1>
</div>

<div class="row">
    <div class="col-md-4" style="text-align: center;">
        <img class="img-circle img-responsive" src="img/kai.jpg" alt="Kai Hao" style="width: 140px; height: 140px; margin-left: auto; margin-right: auto;"/>
        <h2>郝晉凱</h2>
        <p>資管三</p>
        <p><span class="glyphicon glyphicon-envelope"> b01705041@ntu.edu.tw</span></p>
    </div><!-- /.col-lg-4 -->
    <div class="col-md-4" style="text-align: center;">
        <img class="img-circle" src="img/rick.jpg" alt="Rick Lee" style="width: 140px; height: 140px; margin-left: auto; margin-right: auto;">
        <h2>李昱賢</h2>
        <p>資管三</p>
        <p><span class="glyphicon glyphicon-envelope"> b01705001@ntu.edu.tw</span></p>
    </div><!-- /.col-lg-4 -->
    <div class="col-md-4" style="text-align: center;">
        <img class="img-circle" src="img/kelly.jpg" alt="Kelly Su" style="width: 140px; height: 140px; margin-left: auto; margin-right: auto;">
        <h2>蘇筱晴</h2>
        <p>資管三</p>
        <p><span class="glyphicon glyphicon-envelope"> b01705026@ntu.edu.tw</span></p>
    </div><!-- /.col-lg-4 -->
</div><!-- /.row -->

<hr class="featurette-divider">

<div class="page-header" id="detail">
    <h1>Details</h1>
</div>
<div class="row featurette">
    <div class="col-md-7">
        <h2 class="featurette-heading">Movies</h2>
        <p class="lead text-justify">在這個分頁中，我們列出了從以前到現在，獲得各界人士極高評價的電影，如經典之作；刺激1995、教父等，各電影的詳細資料，及主要演員名單，讓你重溫當年電影所帶給你的悸動</p>
    </div>
    <div class="col-md-5">
        <img class="featurette-image img-responsive img-thumbnail" src="{{movies[randomNumber(movies.length)].Img_Src}}" alt="Movie">
    </div>
</div>

<hr class="featurette-divider">

<div class="row featurette">
    <div class="col-md-5">
       <img class="featurette-image img-responsive img-thumbnail" src="{{tvshow[randomNumber(tvshow.length)].Img_Src}}" alt="TV Show">
    </div>
    <div class="col-md-7">
        <h2 class="featurette-heading">TV show</h2>
        <p class="lead text-justify">在TV Show分頁中，我們也精選出了數部膾炙人口的電視影集，不論是緊張刺激的警匪角力的攻防戰，或是歡樂逗趣的喜劇影集，絕對都讓你愛不釋手，沉迷其中，已經看過的人，回味，帶來最初的感動；沒看過的人，欣賞，擁有全新的享受</p>
    </div>
</div>

<hr class="featurette-divider">

<div class="row featurette">
    <div class="col-md-7">
        <h2 class="featurette-heading">People <span class="text-muted"></span></h2>
        <p class="lead text-justify">Donec ullamcorper nulla non metus auctor fringilla. Vestibulum id ligula porta felis euismod semper. Praesent commodo cursus magna, vel scelerisque nisl consectetur. Fusce dapibus, tellus ac cursus commodo.</p>
    </div>
    <div class="col-md-5">
        <img class="featurette-image img-responsive img-thumbnail" src="{{people[randomNumber(people.length)].Img_Src}}" alt="People">
    </div>
</div>
</div>