<div ng-controller="mainCtrl">
<div class="jumbotron">
<h1>Welcome to IMDb2</h1>
<p>Duis mollis, est non commodo luctus, nisi erat porttitor ligula, eget lacinia odio sem nec elit. Cras mattis consectetur purus sit amet fermentum. Fusce dapibus, tellus ac cursus commodo, tortor mauris condimentum nibh.</p>
<p>gula, eget lacinia odio sem nec elit. Cras mattis consectetur purus sit amet fermentum.</p>
<p class = "container-left">
    <a class="btn btn-lg btn-primary" href="#movies" role="button">Random Movie &raquo;</a>
    <a class="btn btn-lg btn-primary" href="#people" role="button" style="margin-left: 20px">Random Person &raquo;</a>
</p>
</div>

<div class="container marketing">
<div class="page-header" id="Group">
    <h1>Group</h1>
</div>

<div class="row">
    <div class="col-md-4" style="text-align: center;">
        <img class="img-circle img-responsive" src="img/kai.jpg" alt="Kai Hao" style="width: 140px; height: 140px; margin-left: auto; margin-right: auto;"/>
        <h2>郝晉凱</h2>
        <p>資管三</p>
        <p><span class="glyphicon glyphicon-envelope"> b01705041@ntu.edu.tw</span></p>
    </div><!-- /.col-lg-4 -->
    <div class="col-md-4" style="text-align: center;">
        <img class="img-circle" src="img/rick.jpg" alt="Rick Lee" style="width: 140px; height: 140px; margin-left: auto; margin-right: auto;">
        <h2>李昱賢</h2>
        <p>資管三</p>
        <p><span class="glyphicon glyphicon-envelope"> b01705001@ntu.edu.tw</span></p>
    </div><!-- /.col-lg-4 -->
    <div class="col-md-4" style="text-align: center;">
        <img class="img-circle" src="img/kelly.jpg" alt="Kelly Su" style="width: 140px; height: 140px; margin-left: auto; margin-right: auto;">
        <h2>蘇筱晴</h2>
        <p>資管三</p>
        <p><span class="glyphicon glyphicon-envelope"> b01705026@ntu.edu.tw</span></p>
    </div><!-- /.col-lg-4 -->
</div><!-- /.row -->

<hr class="featurette-divider">

<div class="page-header" id="Details">
    <h1>Details</h1>
</div>
<div class="row featurette">
    <div class="col-md-7">
        <h2 class="featurette-heading">Movies. <span class="text-muted">It'll blow your mind.</span></h2>
        <p class="lead">Donec ullamcorper nulla non metus auctor fringilla. Vestibulum id ligula porta felis euismod semper. Praesent commodo cursus magna, vel scelerisque nisl consectetur. Fusce dapibus, tellus ac cursus commodo.</p>
    </div>
    <div class="col-md-5">
        <img class="featurette-image img-responsive" data-src="holder.js/500x500/auto" alt="Generic placeholder image">
    </div>
</div>

<hr class="featurette-divider">

<div class="row featurette">
    <div class="col-md-5">
        <img class="featurette-image img-responsive" data-src="holder.js/500x500/auto" alt="Generic placeholder image">
    </div>
    <div class="col-md-7">
        <h2 class="featurette-heading">Oh yeah, it's that good. <span class="text-muted">See for yourself.</span></h2>
        <p class="lead">Donec ullamcorper nulla non metus auctor fringilla. Vestibulum id ligula porta felis euismod semper. Praesent commodo cursus magna, vel scelerisque nisl consectetur. Fusce dapibus, tellus ac cursus commodo.</p>
    </div>
</div>

<hr class="featurette-divider">

<div class="row featurette">
    <div class="col-md-7">
        <h2 class="featurette-heading">And lastly, this one. <span class="text-muted">Checkmate.</span></h2>
        <p class="lead">Donec ullamcorper nulla non metus auctor fringilla. Vestibulum id ligula porta felis euismod semper. Praesent commodo cursus magna, vel scelerisque nisl consectetur. Fusce dapibus, tellus ac cursus commodo.</p>
    </div>
    <div class="col-md-5">
        <img class="featurette-image img-responsive" data-src="holder.js/500x500/auto" alt="Generic placeholder image">
    </div>
</div>
</div>